@mixin basic-button {
  border-radius: 8px;
  padding: 16px 72.5px;
  font-size: 14px;
}
@mixin secondary-button {
  padding: 16px 93.5px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
}

@mixin header-style {
  display: flex;
  gap: 16px;
  font-size: 12px;
  padding: 16px 32px;
  font-weight: 300;
}
