$main-color: #ecfdf5;
$primary-color-green: #064e3b;
$primary-color-black: #000000;
$primary-color-description: #059669;
$primary-color-button: #65a30d;
$primary-color-block: #dcfce7;
$primary-color-border-button: #34d399;
$font-color-header: #d1fae5;
$font-size-description: 14px;
$primery-font: "Syne", serif;
$secondary-font: "Work Sans", serif;
